<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card border border-0 rounded bg-white shadow box-area" style="width: 35%;">
        
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <p class="fw-semibold fs-5 mb-4">Enter code we have sent you to mail.</p>
            </div>
            <form [formGroup]="codeForm">
                <label class="fw-semibold">Code<span class="star"> *</span></label>
                <mat-form-field color="primary" class="w-100 mb-3" >
                    <mat-label>Enter code</mat-label>
                    <input matInput formControlName="code" required maxlength="4" >
                    <img matSuffix src="../../assets/pin-number.png" class="me-2">
                    @if (code.invalid) {
                        <mat-error>Code is required!</mat-error>
                    }
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" class="me-2" routerLink="/login">Back</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="codeForm.invalid" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
